<a href="https://colab.research.google.com/github/UnplugCharger/Week_3_IP/blob/master/Week_3_IP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.1 Overview

Detroit City archives are  contain records of city occurrences such as Police briefing Meetings since 1975, Property Sales in the city since 1975 and many more Records.  These records are made and mainatined by  different 
depatments. In our study we are going to use records from the Mayors office.

Our sample is designed to try and to try and understand the sales of property withing the city in different quatres of the year.

#  1.2 Sampling Objectives and Reliability

To achieve the sample desin objective stated above we are going to use stratified sampling. Since our main focus is on the sales of properties  in different quatres of the year. We will use the Sales Month and Year as the strata

# Implementation Plan

The population data was to be obtained from data world 

The actual data collection was done in a span of years starting 1991 to 20016

It was collectedby the mayors office in the city of Detroit

# Data Collection

This data was collected from the year 1991 to the year 2016 

It  was obtained from data world 

The below code snippet helps us obtain it from [Data World](https://query.data.world/s/syc5wmmact4a6oretdfdcfxztasdba')

In [1]:
import pandas as pd
df = pd.read_csv('https://query.data.world/s/syc5wmmact4a6oretdfdcfxztasdba')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Population

In [2]:
df.shape

(601998, 14)

In [12]:
df.head()

       PARCELNO  PROPCLASS PROPADDR  ...      SALETERMS SALEYEAR  SALEMONTH
0     22123947.        401      NaN  ...  REVIEW NEEDED     2016          3
1  21015633.010        401      NaN  ...  REVIEW NEEDED     2016          3
2     17007012.        404      NaN  ...  REVIEW NEEDED     2016          3
3     21042739.        401      NaN  ...             NQ     2016          3
4    21077568-9        401      NaN  ...  REVIEW NEEDED     2016          3

[5 rows x 16 columns]

In [3]:
df.columns

Index(['PARCELNO', 'PROPCLASS', 'PROPADDR', 'SALEDATE', 'SALEPRICE', 'SALENO',
       'GRANTEE', 'GRANTOR', 'SalesInstr', 'PROPNO', 'PROPDIR', 'PROPSTR',
       'PROPZIP', 'SALETERMS'],
      dtype='object')

Our Population consists of six hundred and one thousand nine hundred and ninety eight entries 

The records contain sales date sales number sales price. Our Main concern is the sales date as it will help up come up with the strata

# Sampling Approach

The sampling approach we will use in our case is the Random Stratified sampling. OUr sampling strata will be Month and Year which will be obtained from the SalesDate column from our dataset.

#  Sample Size

We are going to use 10% of the total Population for our sample

In [4]:
pd.to_datetime(df['SALEDATE'],errors='coerce').head()

0   2016-03-02
1   2016-03-02
2   2016-03-02
3   2016-03-02
4   2016-03-02
Name: SALEDATE, dtype: datetime64[ns]

In [5]:
df['SALEYEAR'] = pd.DatetimeIndex(df['SALEDATE']).year
df['SALEMONTH'] = pd.DatetimeIndex(df['SALEDATE']).month

In [6]:
df['SALEMONTH'].value_counts()

11    62733
12    59968
8     52663
10    52352
6     50377
3     48790
7     46880
5     46750
9     46277
4     46207
1     45671
2     43330
Name: SALEMONTH, dtype: int64

In [7]:
df['SALEYEAR'].value_counts()

2006    40653
1999    31812
2004    31171
2007    31097
2005    30282
2008    30110
2000    29127
2003    28694
2013    26558
2009    25768
2001    25668
2012    25577
2015    23658
2014    22882
1998    22861
2010    22081
2011    20950
2002    20288
1997    18408
1996    16105
1995    14576
1994    13282
1990    13022
1993    12058
1992    11879
1991    11849
2016     1582
Name: SALEYEAR, dtype: int64

In [8]:
strat_output = df.groupby(['SALEYEAR', 'SALEMONTH'], group_keys=False).apply(lambda grouped_subset : grouped_subset.sample(frac=0.1))

In [11]:
strat_output.shape

(60197, 16)

# Sample Representativeness

In [9]:
strat_output['SALEMONTH'].value_counts()

11    6275
12    5997
8     5268
10    5235
6     5036
3     4879
7     4690
5     4673
9     4627
4     4618
1     4566
2     4333
Name: SALEMONTH, dtype: int64

In [10]:
strat_output['SALEYEAR'].value_counts()

2006    4064
1999    3181
2004    3117
2007    3111
2005    3028
2008    3010
2000    2911
2003    2870
2013    2655
2009    2579
2001    2566
2012    2556
2015    2365
2014    2289
1998    2286
2010    2209
2011    2096
2002    2030
1997    1840
1996    1612
1995    1458
1994    1328
1990    1302
1993    1205
1992    1188
1991    1183
2016     158
Name: SALEYEAR, dtype: int64

From the above we can confidently say that our sample is a good representation of the entire population as we can see  the property sales count in the sample match with property sales in the population  . 2016 being the having the least sales  while  2006 had the most sales. This is seen clearly in both the sample and the  Population

# Quality Assurance / Quality Control

The data was obtained from official documents . 

Collection was done as per the Cities legislations and Property Aquisition Guidelines. Which can be found here [Policies & Procedures](https://buildingdetroit.org/our-policies/)

The Full Report On This SAmpling Can be found here 

[SAMPLING STRATEGY REPORT](https://drive.google.com/file/d/1RAGOAFXMgYeBDZZsxE-BHOp7djWDiDKp/view?usp=sharing)